<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="main-header">
	<meta charset="UTF-8">
	<title>JBlog</title>
	<link rel="stylesheet" href="/assets/css/jblog.css">

	<a href="/jblog">
		<img class="logo" src="/assets/images/logo.jpg">
	</a>
	<ul class="menu">
		<!-- 로그인 전 메뉴 -->
		<li><a href="/user/loginForm">로그인</a></li>
		<li><a href="/user/joinForm">회원가입</a></li>

		<!-- 로그인 후 메뉴 -->
		<!--	<li><a href="/user/logout">로그아웃</a></li>-->
		<!--	<li><a href="">내블로그</a></li>-->
	</ul>
</head>
